<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header>
        <h1>Admin Panel</h1>
        <nav>
            <nav>
                <a href="/Admin/AddSong">Şarkı Ekle</a>
                <a href="/Admin/ManageSongs">Şarkıları Yönet</a>
                <a href="/Admin/AddEvent">Etkinlik Ekle</a>
                <a href="/Admin/ManageEvents">Etkinlikleri Yönet</a>
                <a href="/">Siteye Dön</a>
            </nav>

        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
<footer>
    <p>© 2025 DJ Hangezmiş. All rights reserved. | Made by Mücahit Ağdin</p>
</footer>

</html>
