/* Genel Reset ve Tasarım */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Kaydırmayı tamamen kapat */
}

/* gif container*/
#gif-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.gif-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

    .gif-image.active {
        opacity: 1;
    }


/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; /* Sabit yükseklik */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
     /* Transparan arka plan */
    color: white;
    z-index: 1000;
}

    header .Logo img {
        max-width: 125px;
        height: auto;
        
    }

nav {
    display: flex;
    gap: 15px;
}

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
        font-size: 1rem;
    }

        nav a:hover {
            text-decoration: underline;
        }

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000;
}

/* Müzik Kontrolleri */
.music-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

    .music-controls button {
        background: none;
        border: none;
        color: #000000;
        font-size: 24px;
        cursor: pointer;
    }

        .music-controls button:hover {
            color: #1db954; /* Spotify yeşili */
        }

/* Sosyal Medya İkonları */
.social-media {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 15px;
}

    .social-media a {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        /* Hover efekti sadece Spotify için */
        .social-media a.spotify:hover {
            color: #1db954; /* Spotify'ın yeşili */
        }

        .social-media a.instagram:hover {
            color: #e1306c;
        }

        .social-media a.mail:hover {
            color: #d93025;
        }

/* Responsive Tasarım */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

        nav a {
            margin: 5px 0;
        }

    footer {
        flex-direction: column;
        height: auto;
        padding: 30px;
    }

    .music-controls {
        bottom: auto;
        top: 10px;
        left: 10px;
        transform: none;
    }

    .social-media {
        bottom: auto;
        top: 10px;
        right: 10px;
    }
}
